
@{
    ViewData["Title"] = "The Words";
}

<h2>@ViewData["Title"]</h2>

<ul>
    @foreach (var entry in Model.GetWords())
    {
        <li>@entry.Key - @entry.Value</li>
    }
</ul>

<a href="/dictionary/add/">Add a New Word</a>

