@{
    ViewData["Title"] = "Graphics";
}

<h2>@ViewData["Title"]</h2>

<canvas id="drawingArea" width="1000" height="800" style="border:1px solid #000000;"></canvas>

@section Scripts{
    <script src="~/js/graphics.js"></script>
}
