@model Project3.Models.ViewModels.CreateGroceryVM

<form id="createGroceryForm" asp-action="Create" asp-controller="GroceryItem">
    <input type="button" class="btn btn-default" id="createGroceryItemButton" value="Add a new grocery"/>
    <div id="createNewGroceryItem" class="form-horizontal">
        <input type="hidden" asp-for="ListId" id="listId" value="@Model.ListId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Grocery Name</label>
            <div class="col-md-10">
                <input id="groceryName" asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Amount</label>
            <div class="col-md-10">
                <input id="groceryAmount" asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="groceryCreate" type="submit" value="Save" class="btn btn-default" />
                <input id="cancelCreate" type="button" value="Cancel" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

