@model IEnumerable<IdentityRole>
    @{
        ViewData["Title"] = "Roles";
    }

    <h2>@ViewData["Title"]</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }

    </table>
