@model Lab05Recommendation.Models.Entities.Recommendation
@using Lab05Recommendation.Models.Entities

@{
    ViewData["Title"] = "Create";
    Person person = (Person)ViewData["Person"];
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Recommendation for @person.FirstName @person.MiddleName @person.LastName</h4>
        <hr />
        <input type="hidden" name="pId" value="@person.Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Rating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Rating" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Narrative" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Narrative" rows="4" cols="50" maxlength="100"></textarea>
                <span asp-validation-for="Narrative" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RecommenderName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RecommenderName" class="form-control" />
                <span asp-validation-for="RecommenderName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Make Recommendation" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
