@model Lab03Models.Models.Recommendation

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Recommendation</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Rating" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Narrative" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Narrative" class="form-control" />
                <span asp-validation-for="Narrative" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RecommenderName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RecommenderName" class="form-control" />
                <span asp-validation-for="RecommenderName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

